<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button >My Achievements</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let achievement of achievements">
    <ion-card-header>
      <ion-card-content >
        <!-- <ion-col size="auto">{{achievement.updatedDate}}</ion-col> -->
      </ion-card-content>
      <ion-card-title>{{achievement.title}}</ion-card-title>

      <ion-card-title class="ion-text-right"  >
        <ion-card-title *ngIf= "achievement.achievementStatus ==0" > Saved </ion-card-title>
        <ion-card-title *ngIf= "achievement.achievementStatus ==1" > Pending </ion-card-title>
        <ion-card-title *ngIf= "achievement.achievementStatus ==2" > approved </ion-card-title>
      </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{achievement.achievementDesc}}
    </ion-card-content>
    <ion-button fill="clear" *ngIf= "achievement.achievementStatus ==0" routerLink="addAchievement/{{achievement.achievementId}}" >Update</ion-button>
    <ion-button  fill="clear" *ngIf= "achievement.achievementStatus ==0">Submit</ion-button>
    <ion-button fill="clear" *ngIf= "achievement.achievementStatus == 1 || achievement.achievementStatus==0" (click)="deleteAchievement(achievement)">delete</ion-button>
  </ion-card>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="addAchievement()">
        <ion-icon name="add"> </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>


