<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>My Achievements</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let achievement of achievements">
        <ion-card-header>
            <ion-card-subtitle class="ion-text-right">
                {{ achievement.updatedDate | amDateFormat : 'LL' }}
            </ion-card-subtitle>
            <ion-card-title>{{ achievement.title }}</ion-card-title>
            <ion-card-title *ngIf="achievement.achievementStatus == 0" class="ion-text-right"> Saved </ion-card-title>
            <ion-card-title *ngIf="achievement.achievementStatus == 1" class="ion-text-right"> Pending </ion-card-title>
            <ion-card-title *ngIf="achievement.achievementStatus == 2" class="ion-text-right">approved</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{ achievement.achievementDesc }}
        </ion-card-content>

        <ion-grid>
            <ion-row>
                <ion-col></ion-col>
                <ion-col size="auto"
                    ><ion-button
                        fill="solid"
                        *ngIf="achievement.achievementStatus == 0"
                        routerLink="addAchievement/{{ achievement.achievementId }}"
                        >Update<ion-icon slot="end" name="create"></ion-icon></ion-button
                ></ion-col>
                <ion-col size="auto"
                    ><ion-button
                        fill="solid"
                        *ngIf="achievement.achievementStatus == 1 || achievement.achievementStatus == 0"
                        (click)="deleteAchievement(achievement)"
                        >Delete<ion-icon slot="end" name="trash"></ion-icon></ion-button
                ></ion-col>
                <ion-col size="auto"
                    ><ion-button
                        fill="solid"
                        *ngIf="achievement.achievementStatus == 0"
                        (click)="submitAchievement(achievement)"
                        >Submit<ion-icon slot="end" name="send-sharp"></ion-icon></ion-button
                ></ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
        <ion-fab-button (click)="addAchievement()">
            <ion-icon name="add"> </ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
