<ion-header class="abs-menu-header">
  <ion-toolbar color="primary">

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="ion-margin-bottom ion-margin-top">

    <ion-card-header>
      <ion-card-title>Add Feedback</ion-card-title>
    </ion-card-header>
    <ion-list>

      <ion-item class="ion-margin-start ion-margin-end ion-margin-bottom" fill="outline" >
        <ion-select [(ngModel)] = "employee.employeeName" placeholder="Select employee"  >
          <ion-select-option *ngFor="let reportee of empData">
            {{reportee}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-margin-bottom ion-margin-start ion-margin-end" fill="outline">
        <ion-label position="floating">Title</ion-label>
        <ion-input placeholder="Enter title" [(ngModel)]="feedback.title"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom ion-margin-start ion-margin-end" fill="outline">
        <ion-label position="floating">Description</ion-label>
        <ion-textarea placeholder="Enter description" [(ngModel)]="feedback.description"></ion-textarea>
      </ion-item>

    </ion-list>
    
    <ion-button class="ion-margin-bottom ion-margin-start ion-margin-end" (click)=clearFeedbackData()>Cancel</ion-button>
    <ion-button color="primary" class="ion-margin-bottom ion-margin-start ion-margin-end" (click)=addFeedback(feedback)>Submit</ion-button>

  </ion-card>

</ion-content>
