<ion-header class="abs-menu-header">
    <ion-toolbar color="primary"> </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-segment value="default" [(ngModel)]="choosenOption" (ionChange)="fetchFeedbacks()">
                    <ion-segment-button value="My Feedbacks">
                        <ion-label>My Feedbacks</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="Feedbacks Given By Me">
                        <ion-label>Feedbacks Given By Me</ion-label>
                    </ion-segment-button>
                </ion-segment>
                <ion-searchbar [(ngModel)]="searchEmployee"></ion-searchbar>
            </ion-col>

            <ion-col size="auto">
                <ion-button color="medium" (click)="addFeedback()">Add Feedback</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card *ngFor="let feedback of feedbacks; let i = index">
        <div *ngIf="searchEmployee === '' || feedback.receiverId.employeeName?.toLowerCase()?.includes(searchEmployee)">
            <ion-card-header>
                <ion-card-subtitle>
                  {{ feedback.receiverId.employeeName }}  
                      <ion-grid>
                        <ion-row>
                            <ion-col *ngIf="isMyFeedbacks">{{ feedback.receiverId.employeeName }}</ion-col>
                            <ion-col *ngIf="!isMyFeedbacks">{{ feedback.senderId.employeeName }}</ion-col>
                            <ion-col size="auto">{{ feedback.lastUpdatedDate }}</ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-subtitle>
                <ion-card-title>
                    {{ feedback.title }}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>{{ feedback.description }}</ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col size="auto" *ngIf="isMyFeedbacks"
                        ><ion-button fill="clears" color="danger" (click)="deleteFeedback(feedback)"
                            >Delete</ion-button
                        ></ion-col
                    >
                    <ion-col size="auto" *ngIf="isMyFeedbacks"
                        ><ion-button (click)="updateFeedback(feedback)">Update</ion-button></ion-col
                    >
                </ion-row>
            </ion-grid>
        </div>
    </ion-card>
</ion-content>
