<ion-split-pane contentId="home-content" when="lg">
    <ion-menu
        contentId="home-content"
        persistent="true"
        type="overlay"
        persistent="true"
        class="ns-menu"
        style="overflow-y: auto"
    >
        <ion-menu-toggle autoHide="false">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-item lines="none" color="primary">
                        <ion-label>
                            <p>Welcome!</p>
                            <h2>{{loggedInUser?.employeeName}}</h2>
                        </ion-label>
                    </ion-item>
                </ion-toolbar>
            </ion-header>
        </ion-menu-toggle>

        <ion-content color="secondary">
            <ion-list class="menu-list">
                <ion-item lines="inset" button color="secondary">
                    <ion-icon name="trophy-outline" slot="start"></ion-icon>
                    My Awards
                </ion-item>
                <ion-item lines="inset" button color="secondary">
                    <ion-icon name="chatbox-outline" slot="start"></ion-icon>
                    My Feedbacks
                </ion-item>
                <ion-item (click)="logout()" lines="inset" button color="secondary">
                    <ion-icon name="log-out-outline" slot="start"></ion-icon>
                    Logout
                </ion-item>
                
              

               
            </ion-list>
            <ion-list class="menu-list">
                <ion-list-header color="secondary">
                    <ion-label>Admin</ion-label>
                </ion-list-header>
                <ion-item (click)="viewAwards()" lines="inset" button color="secondary">
                    <ion-icon name="trophy-outline" slot="start"></ion-icon>
                    Award Types
                </ion-item>
                <ion-item (click)="leaderBoard()" lines="inset" button color="secondary">
                    <ion-icon name="podium-outline" slot="start"></ion-icon>
                    Leaderboard
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="home-content"></ion-router-outlet>
</ion-split-pane>

