<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
         </ion-buttons>
       <ion-title> Award Types</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
        <ion-list>
        <ion-item button="true" routerLink="{{award.awardId}}" *ngFor="let award of awardTypeList">
            <ion-label>
                <h4 
                   style="color: var(--ion-color-danger); font-weight: 700;" *ngIf="!award.awardStatus">Disabled
                </h4>
                <h3>
                   {{award.awardName}} <span style="font-weight: 700; color: var(--ion-color-secondary)">({{award.awardPoints}})</span>
                </h3>
                <p>
                    {{award.description}}
                </p>
            </ion-label>
                <div slot="end">
                    <ion-button slot="icon-only" color="primary" fill="clear" *ngIf="award.awardStatus" routerLink="{{award.awardId}}"><i class="fas fa-edit"></i></ion-button>
                    <ion-button slot="icon-only" color="primary" fill="clear"  *ngIf="award.awardStatus" (click)="updateAward(award, $event)"><i class="fas fa-ban"></i></ion-button>    
                </div>
            </ion-item>    
        </ion-list>   
    </ion-card>
    

    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
        <ion-fab-button (click)=" createAward()">
            <ion-icon name="add">
            </ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
