/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
    --ion-font-family: 'noto-sans', sans-serif;
    --ion-background-color: #f1f1f2;
    --ion-item-background: #FFF;
    --ion-card-background: #FFF;
}

ion-button {
    .fa,
    .fas,
    .fal,
    .far {
        margin-right: 5px;
    }
}

@font-face {
    font-family: noto-sans;
    src: url('assets/fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
    font-family: noto-sans;
    src: url('assets/fonts/Noto_Sans/NotoSans-Bold.ttf');
    font-weight: 501;
}

@font-face {
    font-family: noto-sans;
    src: url('assets/fonts/Noto_Sans/NotoSans-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: noto-sans;
    src: url('assets/fonts/Noto_Sans/NotoSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: noto-sans;
    src: url('assets/fonts/Noto_Sans/NotoSans-Italic.ttf');
    font-style: oblique;
}

@font-face {
    font-family: noto-sans;
    src: url('assets/fonts/Noto_Sans/NotoSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: oblique;
}

