<ion-header class="abs-menu-header">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title *ngIf="urlId == null">Add Feedback</ion-card-title>
            <ion-card-title *ngIf="urlId != null">Update Feedback</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item  fill="outline" *ngIf="urlId == null">
                    <ion-select [(ngModel)]="selectedValue" placeholder="Select employee">
                        <ion-select-option *ngFor="let employee of employees" [value]="employee.employeeId">
                            {{ employee.employeeName }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item  fill="outline">
                    <ion-label position="floating">Title</ion-label>
                    <ion-input placeholder="Enter title" [(ngModel)]="newFeedback.title" required name="title">
                    </ion-input>
                </ion-item>

                <ion-item fill="outline" >
                    <ion-label position="floating">Description</ion-label>
                    <ion-textarea auto-grow="true" placeholder="Enter description" [(ngModel)]="newFeedback.description"></ion-textarea>
                </ion-item>
            </ion-list>
            <ion-button *ngIf="urlId == null" color="primary" class="ion-float-right" (click)="addFeedback(newFeedback)">
                Submit
            </ion-button>
            <ion-button *ngIf="urlId != null" color="primary" class="ion-float-right" (click)="updateFeedback()">
                Update
            </ion-button>
            <ion-button fill="clear" class="ion-float-right" (click)="cancelForm()">Cancel</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
