<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Leaderboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment value="default">
        <ion-segment-button value="default" (click)="getListForMonth()">
            <ion-label>Monthly</ion-label>
        </ion-segment-button>

        <ion-segment-button value="quarterly">
            <ion-label>Quarterly</ion-label>
        </ion-segment-button>

        <ion-segment-button value="half-yearly">
          <ion-label>Half-yearly</ion-label>
        </ion-segment-button>

        <ion-segment-button value="yearly">
          <ion-label>Yearly</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-content>
      <ion-card>
        <ion-item *ngFor="let emp of leaderboard ;let i = index" >
          <i slot="start" class="fad fa-trophy" [ngStyle]="this.i == 0 ? {'color':'gold'}: this.i == 1 ? {'color': 'silver'} : this.i == 2 ? {'color': '#CD7F32'}:{'color': 'black'}"></i>
          <!-- <div slot="start">
          <h5 [ngStyle]="this.i == 0 ? {'color':'red'}: this.i == 1 ? {'background-color': 'yellow'} : this.i == 2 ? {'background-color': 'green'}:{'background-color': 'white'}" >{{i+1}} </h5>
          </div> -->
          <ion-label>
            <h2>{{emp.employeeName}}</h2>
            <p>{{emp.supervisorName}}</p>
          </ion-label>
          <div slot="end">
            <h5>{{emp.points}}</h5>
          </div>
        </ion-item>
      </ion-card>
    </ion-content>
</ion-content>



