<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Leaderboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment value="default">
        <ion-segment-button value="default">
            <ion-label>Monthly</ion-label>
        </ion-segment-button>

        <ion-segment-button value="quarterly">
            <ion-label>Quarterly</ion-label>
        </ion-segment-button>

        <ion-segment-button value="half-yearly">
          <ion-label>Half-yearly</ion-label>
        </ion-segment-button>

        <ion-segment-button value="yearly">
          <ion-label>Yearly</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-content>

