<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Award</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>

    <ion-card-content>
      <form action="">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Enter Name for Award</ion-label>
            <ion-input placeholder="Name" [(ngModel)]="awardType.awardName" name="name"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="stacked">Enter points for Award</ion-label>
            <ion-input type="number" placeholder="Points" [(ngModel)]="awardType.awardPoints" name="awardPoints"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="stacked">Enter Discription for Award</ion-label>
            <ion-input placeholder="Discription" [(ngModel)]="awardType.description" name="awardDescription"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button (click)="createAward()" >Create</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>