/* iOS places the subtitle above the title */
ion-card-header{
    display: flex;
    flex-flow: column-reverse;
  }
  #title{
    margin-top: 100px;
    margin-left: 50px;
  }
  #create{
    margin-left: 45%;
  }
  #card{
    margin: 250px;
    margin-bottom: 200px;
    margin-top: 100px;
    border-radius: 10px;
  }