<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ isIdPresent ? 'Update Achievement' : 'Add Achievement' }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-content>
        <ion-card>
            <ion-card-content>
                <ion-card-header>
                    <ion-card-title></ion-card-title>
                    <ion-card-subtitle></ion-card-subtitle>
                </ion-card-header>
                <ion-item fill="outline" id="title" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Title</ion-label>
                    <ion-input
                        maxlength="200"
                        minlength="10"
                        [clearInput]="true"
                        placeholder="Enter title for an Achievement"
                        [(ngModel)]="achievement.title"
                        (keypress)="onKeyPress($event)"
                    ></ion-input>
                </ion-item>
                <ion-item fill="outline" id="description" counter="true" [counterFormatter]="customCounterFormatter">
                    <ion-label position="floating">Description</ion-label>
                    <ion-input
                        class=" "
                        maxlength="1000"
                        minlength="50"
                        [clearInput]="true"
                        placeholder="Enter Description for an Achievement"
                        inputmode="text"
                        [(ngModel)]="achievement.achievementDesc"
                    ></ion-input>
                </ion-item>

                <ion-button color="primary" fill="solid" (click)="handleSave()" *ngIf="!isIdPresent"
                    >Save <ion-icon slot="end" name="add-circle"></ion-icon
                ></ion-button>
                <ion-button color="primary" fill="solid" (click)="handleUpdate()" *ngIf="isIdPresent"
                    >Update<ion-icon slot="end" name="create"></ion-icon
                ></ion-button>
                <ion-button color="primary" fill="solid" (click)="handleSubmit()"
                    >Submit<ion-icon slot="end" name="send-sharp"></ion-icon
                ></ion-button>
            </ion-card-content>
        </ion-card>
    </ion-content>
</ion-content>
