{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "endOfLine": "crlf",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "printWidth": 120
            }
        }
    ]
}